.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-timing-function: ease-in;
    transition: all 0.5s;
  }
  
  .nav__black {
      background-color: #111;
  }
  
  .nav__logo {
      position: fixed;
      left: 40px;
      width: 100px;
      object-fit: contain;
  }
  
  .nav__avatar {
      position: fixed;
      right: 40px;
      width: 30px;
      object-fit: contain;
  }

  .nav__search {
    position: fixed;
    right: 100px;
    width: 30px;
    object-fit: contain;
}
  
.nav__input {
    position: fixed;
    right: 90px; /* 돋보기 아이콘 바로 왼쪽에 위치하도록 조정 */
    background-color: rgba(0, 0, 0, 0.582);
    color: white;
    padding: 5px;
    border: 1px solid white;
    height: 40px;
    text-align: center;
    border-radius: 20px; /* 경계 둥글게 설정 */
    width: 250px;
  }
  

  